body{
	background-image:url('debut_light.png');
}

.table .center {
   text-align: center;
}

.table{
   background-color: white;
   color: rgb(83, 83, 83);
}

.search-top-bar-buttom{
	margin-left: 0px !important;
	padding-top: 6px !important;
	margin-top: -1px !important;
}